{% extends 'base.html.twig' %}

{% block title %}{{ userUpdateForm ? 'Modification du compte' :  'Creation de compte' }}{% endblock %}

{% block body %}
    <section class="form-container">
        {{form_start(userCreateForm)}}
            <h1> {{ userUpdateForm ? 'Modifier vos informations' :  'Ajouter vos informations' }}</h1>
            {{form_widget(userCreateForm)}}
            <button class="btn btn-lg btn-primary" type="submit">
                {{ userUpdateForm ? 'Modifier' :  'Validez' }}
            </button>
        {{form_end(userCreateForm)}}
    </section>
{% endblock %}
