{% extends 'base.html.twig' %}

{% block title %}Les horloge :{% endblock %}

{% block body %}
    <section id="clocks">
        <div class="cards-container home">
            {% for clock in clocks %}
                <a href="{{ path('clock',{'id' : clock.id}) }}" class="card">
                    <div class="card-title">
                        <h2>{{ clock.name }}</h2>
                    </div>
                    <div class="card-content">
                        <div class="card-img-container">
                            <img src="{{ asset('images/upload/'~ clock.imageName) }}" alt="photo de l'horloge / pendule">
                        </div>
                    </div>
                    <div class="card-option">
                        {% if app.user and app.user.id == clock.user.id %}
                            <a href="{{ path('update_clock',{'id' : clock.id}) }}">Modifier</a>
                            <form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{ path('delete_clock', {'id': clock.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ clock.id) }}">
                                <input type="submit" value="Supprimer">
                            </form>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
