{% extends 'base.html.twig' %}

{% block title %}{{ clockUpdateForm ? 'Modifier horloge' :  'Creation horloge' }}{% endblock %}

{% block body %}
    <h1> {{ clockUpdateForm ? 'Modifier votre horloge' :  'Ajouter les informations de votre horloge' }}</h1>

    {{form_start(clockCreateForm)}}
        {{form_widget(clockCreateForm)}}
        <input type="submit" value="{{ clockUpdateForm ? 'Modifier' :  'Validez' }}">
    {{form_end(clockCreateForm)}}
{% endblock %}
