{% extends 'base.html.twig' %}

{% block title %}{{ clockUpdateForm ? 'Modifier horloge' :  'Creation horloge' }}{% endblock %}

{% block body %}
    <section class="form-container">
        {{form_start(clockCreateForm)}}
            <h1> {{ clockUpdateForm ? 'Modifier votre horloge' :  'Ajouter les informations de votre horloge' }}</h1>
            {{form_widget(clockCreateForm)}}
            <button class="btn btn-lg btn-primary" type="submit">
                {{ clockUpdateForm ? 'Modifier' :  'Validez' }}
            </button>
        {{form_end(clockCreateForm)}}
    </section>
{% endblock %}
