<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div id="loader">
            <div class="lottie-container">
                <lottie-player src="{{ asset('animation/Animation_clock.json')}}" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
        </div>
        <header id="header">
            <nav class="header">
                <div class="logo-container">
                    <a href="{{ path('home') }}"><img class="logo" src="{{ asset('images/logo/clock.svg') }}" alt="logo"></a>
                </div>
                <ul class="list-container">
                    <div class="left-list">
                        <li><a class="nav-btn" href="{{ path('home')}}">Les Horloges</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            
                        {% else %}
                            <li><a class="nav-btn" href="{{ path('home')}}">Contact</a></li>
                        {% endif %}
                    </div>
                    <div class="center-list">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="nav-btn" href="{{ path('home') }}">Admin</a></li>
                            {% endif %}
                            <li><a class="nav-btn" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        {% else %}
                            <li><a class="nav-btn" href="{{ path('create_user') }}">Rejoindre l'horlogerie</a></li>
                            <li><a class="nav-btn" href="{{ path('app_login') }}">Se connecter</a></li>
                        {% endif %}
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="right-list">
                            <li><a class="nav-btn" href="{{path('create_clock')}}">Rajoutez une horloge</a></li>
                        </div>
                    {% endif %}
                </ul>
                <input type="checkbox" id="burger-toggle" class="burger-toggle" hidden />

                <!-- Icône burger (label = bouton) -->
                <label for="burger-toggle" class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <ul class="burger-container">
                    <div class="burger-left-list">
                        <li><a class="nav-btn" href="{{ path('home')}}">Les Horloges</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            
                        {% else %}
                            <li><a class="nav-btn" href="{{ path('home')}}">Contact</a></li>
                        {% endif %}
                    </div>
                    <div class="burger-center-list">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="nav-btn" href="{{ path('home') }}">Admin</a></li>
                            {% endif %}
                            <li><a class="nav-btn" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        {% else %}
                            <li><a class="nav-btn" href="{{ path('create_user') }}">Rejoindre l'horlogerie</a></li>
                            <li><a class="nav-btn" href="{{ path('app_login') }}">Se connecter</a></li>
                        {% endif %}
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="burger-right-list">
                            <li><a class="nav-btn" href="{{path('create_clock')}}">Rajoutez une horloge</a></li>
                        </div>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>